*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-block: 0;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

ul {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: 800;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-dark-alt: #212121;
  --color-accent-cold: #0575b4;
  --color-accent-cold-alt: #067c87;
  --color-accent-warm: #0d8500;
  --color-accent-warm-alt: #017a50;

  --border: 1px solid var(--color-dark);
  --border-radius: 35px;

  --font-family-base: "JetBrains Mono", sans-serif;

  --container-width: 1300px;
  --container-padding-x: 20px;

  --transition-duration: 0.2s;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/JetBrainsMono-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/JetBrainsMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.section-title {
  font-size: 35px;
  padding-bottom: 18px;
}

.h3 {
  font-size: 24px;
  padding-bottom: 12px;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: var(--font-family-base);
  font-weight: 500;
  line-height: 1.25;
  color: var(--color-dark);
  background-color: var(--color-light);
}

.header {
  position: sticky;
  z-index: 1000;
  top: 0;
  margin-top: 20px;
  background-color: var(--color-light);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
  border-top: var(--border);
  border-bottom: var(--border);
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 83px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 40px;
}

.header__link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 70px;
}

.header__link::after {
  content: "";
  position: absolute;
  top: 97%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 4px;
  border-radius: 30px;
  background-color: var(--color-dark);
  transition-duration: inherit;
}

.header__link:hover::after {
  width: 100%;
}

.hero {
  margin-top: 40px;
  margin-bottom: 50px;
  display: flex;
  gap: 35px;
}

.hero__introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  background-image: url(img/avatar.jpg);
  background-size: cover;
  background-position: center;
  border-radius: var(--border-radius);
  color: var(--color-light);
  height: 540px;
  min-width: 400px;
  transition: transform 0.4s ease;
}

.hero__introduction:hover {
  transform: scale(1.02);
}

.hero__introduction h1 {
  font-size: 48px;
}

.introduction__position {
  font-size: 14px;
  font-weight: 400;
}

.hero__right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.hero__about-me {
  display: flex;
  flex-direction: column;
  scroll-margin-top: 72px;
}

.hero__contacts__list {
  display: flex;
  justify-content: space-between;
  gap: 23px;
  flex-wrap: wrap;
}

.hero__contacts__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 215px;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 23px 25px;
  flex: 1;
  font-size: 16px;
  font-weight: 500;
  transition: transform 0.4s ease;
}

@media (min-width: 1160px) {
  .hero__contacts__item {
    min-width: 290px;
  }
}

.hero__contacts__item:hover {
  transform: scale(1.03);
}

.hero__contacts__item-divider {
  margin-bottom: 13px;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 1px;
  background-color: var(--color-dark);
}

.hero__contacts__item-divider::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--color-dark);
  left: 0;
}

.hero__contacts__item-divider::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--color-dark);
  right: 0;
}

.hero__contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 32px;
  padding-inline: 25px;
  border-radius: var(--border-radius);
  color: var(--color-light);
  font-size: 16px;
}

.first {
  background-color: var(--color-accent-cold);
}

.second {
  background-color: var(--color-accent-cold-alt);
}

.third {
  background-color: var(--color-accent-warm);
}

.forth {
  background-color: var(--color-accent-warm-alt);
}

.hero__contacts__link:hover {
  background-color: var(--color-dark);
}

.hero__contacts__link-wrap {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hero__contacts__link-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  width: 32px;
  height: 32px;
  border: var(--border);
  border-radius: 50%;
}

.information {
  display: flex;
  gap: 35px;
  margin-bottom: 50px;
}

.information__right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  padding: 40px 0;
}

.information__experience {
  scroll-margin-top: 72px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 40px;
  border: var(--border);
  border-radius: var(--border-radius);
}

.experience__job {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 5px;
  font-weight: 400;
}

.experience__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.experience__item {
  font-weight: 400;
}

.experience__item::before {
  content: "➤";
  color: var(--color-dark);
}

.skills {
  scroll-margin-top: 72px;
}

.skills__list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.skills__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 32px;
  padding-inline: 25px;
  border-radius: var(--border-radius);
  color: var(--color-light);
  font-size: 16px;
  transition: transform 0.4s ease;
}

.skills__item:hover {
  transform: scale(1.1);
}

.education {
  scroll-margin-top: 72px;
}

.education__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.education__place {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 5px;
  font-weight: 400;
  margin-bottom: 8px;
}

.education__course {
  font-size: 22px;
}

.languages {
  scroll-margin-top: 72px;
  padding: 0 60px;
  margin-bottom: 50px;
}

.languages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.languages__item {
  display: flex;
  align-items: flex-end;
  gap: 15px;
  padding: 18px 30px;
  color: var(--color-light);
  background-color: var(--color-dark-alt);
  border-radius: var(--border-radius);
  transition: transform 0.4s ease;
}

.languages__item:hover {
  background-color: var(--color-accent-cold);
  transform: scale(1.05);
}

.languages__name {
  padding: 0;
  line-height: 1;
}

.languages__level {
  font-style: italic;
  font-weight: 400;
}

.code {
  scroll-margin-top: 72px;
  margin-bottom: 50px;
}

.code__title {
  padding-left: 40px;
}

.code__example {
  padding: 20px 40px;
  margin: 0;
  color: var(--color-light);
  background-color: var(--color-accent-cold);
  border-radius: var(--border-radius);
}

.code__example code {
  padding: 0;
  margin: 0;
}

.footer {
  margin-bottom: 15px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  column-gap: 70px;
  border-top: var(--border);
  border-bottom: var(--border);
}

.footer__text {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 17px;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-duration) ease;
}
